/* assets/css/fonts.css */
@font-face {
  font-family: 'Inconsolata';
  src: url('/assets/fonts/Inconsolata-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

/* Pp Neue Montreal Medium */
