@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Whisper&display=swap');@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
:root {
    --light-gray: 175, 175, 175;
}

.custom-h {
    height: 100vh;
}

.no-scroll {
    overflow: hidden;
  }
  

.text{
    /* transform: translateY(30px); */
    /* color: #D6FF00; */
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.char {
    transform: translateY(150px);
    transition: transform 0.5s;
}

/* Hero section */

.hero-section{
    background-color: #EDE8E4;
    width: 100%;
    min-height: 100vh;
}
.bottle{
    min-height: 100vh;
    max-width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    
}

.hero-div{
    width: 100%; 
}
/* sec a */
.sec-a{
    display: flex;
    margin-top: 4%;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 10%;
    
}
.left-child {
    width: 50%;
    display: flex;
    gap: 10%;
}
.right-child{
    flex-wrap: wrap;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    gap: 10%;
}

/* sec b */
.sec-b{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-weight: 400;
    margin-top: 5vw;
    margin-bottom: 2vw;
}

.main-text{
    font-size: 4vw;
}

.smily{
    animation: rotation1 3s ease-in-out infinite;
}
.wink{
    animation: rotation2 2s ease-in-out infinite;
}
.arrow{
    animation: rotation3 3s ease-out infinite;
}
@keyframes rotation1 {
    from{
        transform: rotate(360deg);
    }
    25%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
    to{
        transform: rotate(0deg);
    }
}
@keyframes rotation2 {
    to{
        transform: rotate(360deg);
    }
    25%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
    from{
        transform: rotate(0deg);
    }
}

@keyframes rotation3 {
    from{
        x: 0;
        opacity: 1;
    }
    to{
        x:-1000;
        opacity: 10;
    }
} 

/* sec c */
.sec-c{
    margin-bottom: 2vw;
}
.sub-text{
    max-width: 80%;
    margin: auto;
}
.sub-text h4{
    text-align: center;
}

/* sec d */
.sec-d{

    display: flex;
    justify-content: center;
}
.button {
    
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}
.button-div{
    width: 20%;
    display: flex;
    justify-content: space-around;
}
.bg-black{
    background-color: black;
    color: white;
    border: 1.5px dashed white;

}
.bg-white{
    background-color: white;
    color: #000;
    border: 1.5px dashed black;
}

/* sec e */
.sec-e{
   display: flex;
   margin-top: 6vw;
   justify-content: space-between;
}

.social-handels{
    display: flex;
    justify-content: space-between;
    width: 20%;
}
.scroll-down{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.signature{
    width: 20%;
    font-family: "Whisper", cursive;
    font-style: normal;
    font-size: 2.5rem;
    font-weight: 400;
    display: flex;
    justify-content: flex-end;
}