.tab{
        border: black 2px dashed;
        border-radius: 8px;
        padding: 10px;

        background-color: transparent;
        backdrop-filter: blur(20px);
        background-image: linear-gradient(
            120deg,
            rgba(255,255,255,0.3),
            rgba(0,0,0,0.3)
        );
}